* {
  background-color: black;
  color: #C3E8BD;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', Helvetica, sans-serif;
  color: #9DDBAD;
}

p {
  font-family: "Audiowide", Helvetica, sans-serif;
}

section {
  margin-top: 50px;
}

.App {
  text-align: center;
}

