* {
  color: rgba(250, 255, 255, .9);
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, li, button {
  font-family: "Audiowide", Helvetica, sans-serif;
}

a:hover {
  color: #627C85;
}

section {
  margin-top: 50px;
}

.App {
  text-align: center;
}

.warningText {
  color: rgba(234, 42, 42, 0.7);
}

